/* .draggable navs */

.draggable-container {
  overflow: hidden;
  /* no selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.draggable {
  width: 9999999px;
  white-space: nowrap; /* all on same line */
  font-size: 0; /* fix inline block spacing */
}
.draggable.nav > li > a  {
  font-size: 14px; /* give font size to links */
}

/* visual styles */

h1 {
  margin: 40px 0px 20px 0px;
  color: #95c500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}
.draggable-container {
  padding: 10px 0px;
  border: 1px solid #000000;
}